<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <div class="navbar navbar-inverse navbar-fixed-down">
                <div class="container">
                    <div class="navbar-collapse collapse menu">
                        <ul>
                            <li class="HomeNavigationButton"> @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li class="HomeNavigationButton"> @Html.ActionLink("Books", "Index", "Books", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li class="HomeNavigationButton"> @Html.ActionLink("Rental", "Index", "Rentals", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <li class="HomeNavigationButton"> @Html.ActionLink("Restaurant", "Index", "Restaurants", new { area = "" }, new { @class = "navbar-brand" })</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


<style>
    footer{
        position: absolute;
        bottom:  0;
    }
    .navbar{
        margin-bottom: 0px;
    }
    .navbar > .container .navbar-brand {
        margin-left: 0px;
    }
    .HomeNavigationButton {
        padding: 10px;
        border-radius: 25px;
        margin-left: 10px;
    }
    .menu > ul
    {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 -10px;
    }

</style>