@model Library.Web.Models.BookListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Books in Library: @Model.CountBooks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table_main">
    <tr>
        <th>
            Name
        </th>
        <th>
            Autor
        </th>
    </tr>

    @foreach (var book in @Model.Books)
    {
        <tr class="" onclick="location.href='@Url.Action("Update", "Books", new { id = book.Id })'">
            <td>
                @Html.DisplayFor(modelItem => book.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Autor)
            </td>
        </tr>
    }
</table>
