@model Library.Web.Models.BookListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Books in Library: @Model.CountBooks</h2>


<div class="buttons-inline-haed">
    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Create", "Books")'"> Create </button>
    <div class="buttons-inline-head-inside">
        <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Rentals")'"> Rental List </button>
    </div>
</div>

<table class="table table_main">
    <tr>
        <th>
            Name
        </th>
        <th>
            Autor
        </th>
        <th>
            Type
        </th>
    </tr>

    @foreach (var book in @Model.Books)
    {
        <tr onclick="location.href='@Url.Action("Update", "Books", new { id = book.Id })'">
            <td>
                @Html.DisplayFor(modelItem => book.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.TypeBook)
            </td>
        </tr>
    }
</table>
