@model Library.Web.ViewModels.OpinionFormViewModel

<p>
    @Html.ActionLink(
            linkText: "Create",
            actionName: "Create",
            controllerName: "Opinions",
            routeValues: new { id = @Model.Restaurant.Id },
            htmlAttributes: null)
</p>
@Model.Restaurant.Name
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Opinions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                @using (Html.BeginForm(
                    actionName: "Delete",
                    controllerName: "Opinions",
                    routeValues: new { id = item.Id, idRestaurant = @Model.Restaurant.Id },
                    method: FormMethod.Post))
                {
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                        </div>
                    }
            </td>
        </tr>
    }
</table>
