@model Library.Web.Models.OpinionFormViewModel
@{
    double SumGradeFood = 0;
    double SumGradeDrink = 0;

}
@foreach (var item in Model.Opinions)
{
    SumGradeFood += item.GradeFood;
    SumGradeDrink += item.GradeDrink;
}

<div class="buttons-inline-haed">
    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Create", "Opinions", new {id = @Model.Restaurant.Id} )'"> Create </button>
    <div class="buttons-inline-head-inside">
        <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index", "Restaurants")'"> Restaurant List </button>
    </div>
</div>


@Model.Restaurant.Name
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Who)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradeFood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradeDrink)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Opinions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Who)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeFood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeDrink)
            </td>
            <td>
                <div id="buttonDelete">
                    @using (Html.BeginForm(
                        actionName: "Delete",
                        controllerName: "Opinions",
                        routeValues: new { id = item.Id, idRestaurant = @Model.Restaurant.Id },
                        method: FormMethod.Post
                    ))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    }
                </div>

            </td>
        </tr>
    }


    @if (@Model.Opinions.Count() > 0) // average under table
    {
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                @String.Format("{0:0.00}", (SumGradeFood / Model.Opinions.Count()))
            </td>
            <td>
                @String.Format("{0:0.00}", (SumGradeDrink / Model.Opinions.Count()))
            </td>
            <td>
            </td>
        </tr>
    }

</table>
